
.redHandContainer {
    display: flex;
    margin: 1vh;
}
.redHandCard {
    margin: .5vh;
    border: 0.2vh solid #444;
}
.blueHandContainer {
    display: flex;
    margin: 1vh;
}
.blueHandCard {
    margin: .5vh;
    border: 0.2vh solid #444;
}
.middleHandContainer {
    display: flex;
    margin: 1vh;
}
.middleHandCard {
    margin: .5vh;
    border: 0.2vh solid #444;
}
.boardBorder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 50vh;
    background-color: beige;
    border: 0.2vh solid #444;
    max-width: 50vh;   
}

.innerPiece {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    height: 9vh;
    width: 9vh;
    border: 0.1vh solid #444;
    color: #222;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7vh;
}

.boardContainer {
    display: flex;
}

.directions {
    border: 0.1vh solid #444;   
}

.orderButtonsContainer{
    display: flex;
    flex-direction: column;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.8;
}

.disabledInnerPiece {
    pointer-events: none;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    height: 9vh;
    width: 9vh;
    background-color: grey;
    border: 0.1vh solid #444;
}